# Python virtual environment
backend/.venv/
backend/__pycache__/
backend/instance/__pycache__/
backend/app/data/
backend/.env
backend/data/
*.pyc

# uv cache and temporary files
.uv/
.uvcache/
*.egg-info/
dist/
build/

# Node modules
frontend/node_modules/
frontend/package-lock.json


**/.DS_Store
**/.env
frontend/build
